# --- App ---
NODE_ENV=development

APP_NAME=RAG Keramik NestJS Application
APP_PORT=3000
API_PREFIX=api
FRONTEND_DOMAIN=http://localhost:5173
BACKEND_DOMAIN=http://localhost:3000
DOCS_URL=http://localhost:3000/docs

# --- Rate Limit ---
RATE_LIMIT=10 # number of requests
RATE_LIMIT_TTL=60000 # in milliseconds

# --- Auth ---
ACCESS_TOKEN_EXPIRATION_MINUTES=15
REFRESH_TOKEN_EXPIRATION_DAYS=30
VERIFICATION_TOKEN_EXPIRATION_HOURS=24
FORGOT_PASSWORD_TOKEN_EXPIRATION_HOURS=1

ACCESS_TOKEN_SECRET=your_access_token_secret_key
REFRESH_TOKEN_SECRET=your_refresh_token_secret_key
VERIFICATION_TOKEN_SECRET=your_verification_token_secret_key
FORGOT_PASSWORD_TOKEN_SECRET=your_forgot_password_token_secret_key

# Google OAuth2
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=your_google_callback_url

# Mail Configuration (Development - using Mailtrap)
MAIL_HOST=your_mailtrap_host
MAIL_PORT=2525
MAIL_USER=your_mailtrap_user
MAIL_PASSWORD=your_mailtrap_password
MAIL_DEFAULT_NAME=your_app_support_name
MAIL_DEFAULT_EMAIL=your_app_support_email@example.com
MAIL_IGNORE_TLS=false
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false