# --- App ---
NODE_ENV=development

APP_NAME=RAG Keramik NestJS Application
APP_PORT=3000
API_PREFIX=api
FRONTEND_DOMAIN=http://localhost:5173
BACKEND_DOMAIN=http://localhost:3000
DOCS_URL=http://localhost:3000/docs

# --- Rate Limit ---
RATE_LIMIT=10 # number of requests
RATE_LIMIT_TTL=60000 # in milliseconds

# --- Auth ---
ACCESS_TOKEN_EXPIRATION_MINUTES=15
REFRESH_TOKEN_EXPIRATION_DAYS=30
VERIFICATION_TOKEN_EXPIRATION_HOURS=24
FORGOT_PASSWORD_TOKEN_EXPIRATION_HOURS=1

ACCESS_TOKEN_SECRET=your_access_token_secret_key
REFRESH_TOKEN_SECRET=your_refresh_token_secret_key
VERIFICATION_TOKEN_SECRET=your_verification_token_secret_key
FORGOT_PASSWORD_TOKEN_SECRET=your_forgot_password_token_secret_key